<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <script src="script.js" defer></script>
        <title>Feed Hope Project</title>
    </head>

    <body>
        <div class="main">
            <div class="navbar">
                <h2 class="icon"><img src="images/@logo4.png" alt="Feed Hope Logo"></h2>
                <div class="menu">
                    <ul>
                        <li><a href="#" class="active">Home</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">User Profile</a></li>
                        <li><a href="#">Feedback</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Our Team</a></li>
                    </ul>
                </div>
            </div>
            <footer class="footer">
                <p>Designed and developed by G24-01</p>
                <p>Page Editors: [List of Page Editor Names with Links]</p>
            </footer>
        </div>
    </body>
</html>
